.headerContainer{
    position: absolute;
    width: 100vw;
    max-width: 1580px;
    height: 986px;
    left: 0px;
    top: 0px;
    background-color: #050626;
}
.headerContainer .thumb{ 
    height: 765px;
    background: linear-gradient(180deg, #050626 0%, rgba(2, 2, 15, 0.381395) 21.83%, rgba(0, 1, 4, 0.0988803) 45.62%, rgba(0, 0, 0, 0) 57.12%);
}
.headerContainer .thumb img{
    position: absolute;
    width: 100%;
    height: 1200px;
    left: 0px;
    top: -170px;
    
    opacity: 8.58;
}

.headerContainer .headerMenu{
    width: 100%;
    height: 104px;
    left: 0;
    margin-top: 1px;
    flex-direction: row;
    display: flex;  
    align-self: center;
}

.headerContainer .headerMenu .logoP{
    position: absolute;
    width: 10%;
    height: 80px;
    left: 3%;
    top: 1%;
}

.headerContainer .headerMenu .idioma{
    position: absolute;
    width: 8%;
    height: 43px;
    top: 3%;
    right: 4%;

    border: 1px solid #626262;
    box-sizing: border-box;
}

.headerContainer .headerMenu .idioma .iconIdioma {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 49px;
    top: 9px;
}

.headerContainer .headerMenu .idioma h2{
    position: absolute;
    width:20px;
    height: 16px;
    top: 13.5px;
    left: 19px;

    font-family: Averta;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.headerContainer .headerMenu .nav {
    display:flex;
    position: absolute;
    width: 75%;
    height: 49px;

    left: 20%;
    top: 39px;
}

.headerContainer .headerMenu .nav .lista{
    position: absolute;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
}

.headerContainer .headerMenu .nav .lista ul{
    width: 500px;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
}

.headerContainer .headerMenu .nav .lista ul li{ 
    list-style: none; 
}

.headerContainer .headerMenu .nav .lista ul li h2{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.6rem;

    letter-spacing: 0.03em;

    color: #FFFFFF;
    align-self: center;
}

.headerContainer .headerMenu .nav .buttonNav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 26px;

    position: absolute;
    left: 559px;
    top: -10px;
    width: 20%;
    height:100%;

    background: #FFFFFF;
    border-radius: 40px;
    align-self: center;
}

.headerContainer .headerMenu .nav .buttonNav h2{      
    font-family: Averta;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.7rem;

    position: static;
    width: 150px;
    height: 17px;
    left: calc(50% - 150px/2);
    top: calc(50% - 17px/2);

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #317CAA;
}

.headerContainer .rectangleHeader{
    position: absolute;
    width: 100%;
    height: 343px;
    top: 750px;

    background-color: #3286C3;
}

.headerContainer .rectangleHeader .rectangleText1{
    position: absolute;
    width: 607px;
    height: 150px;
    
    left: 3%;
    top: 5%;
}

.headerContainer .rectangleHeader .rectangleText1 h1{
    color: #Fff;

    font-family: Averta;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 4.9rem;  
}

.headerContainer .rectangleHeader .rectangleText2 {
    position: absolute;
    width: 238px;
    height: 104px;
    left: 55%;
    top: 6%;
}

.headerContainer .rectangleHeader .rectangleText2 h2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.6rem;
    
    letter-spacing: 0.03em;

    color: #051339;
}

.headerContainer .rectangleHeader .buttonConheca {
    position: absolute;
    width: 182px;
    height: 158px;
    right: 3%;
    top: 11%;

    background: #2E7BB2;
    border-radius: 8px;

    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}

.headerContainer .rectangleHeader .buttonConheca .buttonText {
    position: absolute;
    width: 84px;
    height: 52px;
    top: 78px;
    left: 49px;
    right: 49px;
    bottom:28px;
}

.headerContainer .rectangleHeader .buttonConheca .buttonText h1{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.6rem;

    text-align: center;
    letter-spacing: 0.03em;

    color:#fff;
}

.headerContainer .rectangleHeader .buttonConheca .icon img{
    width: 10px;
    height: 17px;

    position: absolute;
    left: 85px;
    right: 85px;
    top: 40px;
    bottom: 100px;

}

/*
    position: absolute;
    width: 1920px;
    height: 765px;
    left: 0px;
    top: -170px;
    

    font-family: Averta;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    position: static;
    display: flex;
    left: calc(50% - 150px/2);
    top: calc(50% - 17px/2);

    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #317CAA;
*/