.contentConteiner{
   position: relative;
    height: 3000px;
    width: 1920px;
    top:1094px;
    background-color: #E5E5E5;
}

 .box {
    position: absolute;
    width: 1243px;
    height: 404px;
    top: -95px;
    left: 339px;

    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.box .items{
    width: 1241px;
    height: 404px;
}

.box .items .icon1{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 20px;
    top: 258px;
}
.items .text1 {
    position: absolute;
    width: 236px;
    height: 79px;
    left: 158px;
    top: 305px;
    background-color: #fff;
}

.items .text1 h2{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;

    color: #6A6A57;
}

.box .items .icon2{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 430px;
    top: 258px;
}

.items .text2 {
    position: absolute;
    width: 241px;
    height: 74px;
    left: 559px;
    top: 305px;
    background-color: #fff;
}

.items .text2 h2{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;

    color: #6A6A57;
}

.box .items .icon3{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 850px;
    top: 258px;
}

.items .text3 {
    position: absolute;
    width: 225px;
    height: 75px;
    left: 985px;
    top: 305px;
    background-color: #fff;
}

.items .text3 h2{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;

    color: #6A6A57;
}