.contentConteiner .box7 {
    position: absolute;
    width: 100vw;
    max-width: 1580px;
    height: 520px;
    top: 3347px;
    background-color: #E5E5E5;
}

.box7 .description{
    position: absolute;
    width: 422px;
    height: 223px;
    top: 13%;
    left: 12%;
}
.box7 .description .title{
    position: absolute;
    width: 422px;
    height: 48px;
    top: 0px;
    left: 0px;
}
.box7 .description .title h1{
    font-family: Averta;
    font-style: normal;
    font-weight: bold;
    font-size: 3.8rem;
    line-height: 4.5rem;

    color: #FA4616;
}
.box7 .description .sub{
    position: absolute;
    width: 422px;
    height: 78px;
    top: 61px;
    left: 0px;
}
.box7 .description .sub h2{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.6rem;
    
    letter-spacing: 0.03em;
    color: #6A6A57;
}
.box7 .description .button{
    position: absolute;
    width: 208px;
    height: 49px;
    top: 174px;
    left: 0px;
    background: #FFFFFF;
    border-radius: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}
.box7 .description .button p{
    position: absolute;
    left: 26px;
    font-family: Averta;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;

    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FF7F41;
}
.box7 .img{
    position: absolute;
    width: 440px;
    height: 463px;
    top: 24px;
    right: 23%;
}